{% extends 'aplicacion/base.html' %}
{% load static %}


{% block titulo %}
    <h2>
        Es la mejor opción 
        para gente que decide
        y hace valer su opinión.
    </h2>
    
    <h2>
        Usted la puede llevar en un 
        lindo paquetito 
        lleno de dibujitos y juguetes 
        para que sus hijos los puedan coleccionar.
    </h2>
    
    <h2> 
        Comida rapida para vos!
    </h2>
{% endblock titulo %}


{% block contenido %}
<h1></h1>
{% endblock contenido %}
    

{% block menu %}
    <h2>Disfruta de nuesto menú del día:</h2>
    <h3>¡Patatas millonarias del Tio Moe!</h3>
{% endblock menu %}
       
   